body {
  padding-top: 50px;
}

/*navbar*/
.navbar-inverse {
	background-color: #fafafa;
	border: 0;
}

.navbar-inverse .navbar-nav>li>a {
	border-bottom: 3px solid #fafafa;
	border-right: 1px solid #ececec;
	color: #414141;
	padding-left: 10px;
	padding-right: 10px;
}	

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:active {
	color: #414141;
	border-bottom: 3px solid #C3132A;
}

.navbar-nav {
	float: right !important;
}

/* big logo */
.logo {
	margin: -70px 0 0 0;
}

.abouttext {
	padding-right: 15px;
	margin-top: 10px;
}

/* brand */
.small {
	margin-left: 45px;
	color: #C3132A;
	font-family: Georgia;
	font-size: 20px;
	font-weight:bold;
}

.conflict {
	color: #000;
	font-family: 'Passion One', cursive;
	letter-spacing: 1px;
	font-weigt: 700;
	font-size: 25px;
}

/* main content */
.main {
	padding: 40px 15px;
}

.one-row {
	margin-bottom: 60px;
}

h3 {
	font-family: 'Roboto Slab', serif;
	font-weight: 700;
}

.col-md-3 > a {
	color: #000;
}

/* about */
.about {
	border-top: 3px solid #C3132A;
	padding: 30px 0 60px 0;
}

.students {
	margin-top: -150px;
}

.about > h3 {
	margin-left: 15px;
}


/*Media Queries*/

@media screen and (max-width: 960px) {
}
@media screen and (max-width: 768px) {
	.students {
		margin-top: 0px;
	}
}
@media screen and (max-width: 500px) {
}